/* To test post-css */
:root {
  --font-family: 'Cascadia Code', sans-serif;
  --font-color: black;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 1.5rem;
}

/* Below code is for Register page */

.form {
    padding: 5% 13%;
}

.form__field {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
}

.btn {
    padding: 1rem 0;
    width: 100%;
}

.btn__container {
    display: flex;
    justify-content: center;
}

.label {
    text-align: right;
}

.radio__label {
    font-size: 1.5rem;
    padding: 0 1rem;
}

/* End of styles for register page */

/* Styles for Login page */
.accountLogin {
  text-align: center;
}

form h1 {
  font-size: 2rem;
}

form h5, form h6 {
  margin-bottom: auto;
}

form p {
  font-size: 0.6em;
}

.center {
  display: flex;
  justify-content: center;
}

form {
  padding: 2.5em 5.5em;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 5em;
}

input {
  width: 25rem;
  height: 4vh;
}

#loginBtn {
  width: 50%;
  height: 5vh;
  margin-top: 20px;
}

.resetPW {
  margin-top: 15px;
}

#resetBtn {
  margin-left: 10px;
}

.createAccount {
  text-align: center;
}


/* End of styles for Login page */
