/* To test post-css */
:root {
    --font-family: 'Cascadia Code', sans-serif;
    --font-color: black;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: 1.5rem;
}

/* Nav Bar styles */
.navigation {
    display: flex;
}

.navBar {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    /* padding: 20px 20px; */
}

#companyLogo {
    width: 10%;
}

/* Below code is for Register page */

.form {
    padding: 5% 13%;
}

.form__field {
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
}

.btn {
    padding: 1rem 0;
    width: 100%;
}

.btn__container {
    display: flex;
    justify-content: center;
}

.label {
    text-align: right;
}

.radio__label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* End of styles for register page */

/* Styles for Login page */

.login {
    margin-top: 100px;
}

.accountLogin {
    text-align: center;
}

form h1 {
    font-size: 2rem;
}

h5,
h6 {
    margin-bottom: auto;
}

form p {
    font-size: 0.6em;
}

.center {
    display: flex;
    justify-content: center;
}

/* Decide if need to place for all pages */
form {
    padding: 2.5em 5.5em;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 10px;
    margin-bottom: 5em;
}

input {
    width: 25rem;
    height: 4vh;
}
/* Decide if need to place for all pages */

#loginBtn {
    width: 50%;
    height: 5vh;
    margin-top: 20px;
}

.resetPW {
    margin-top: 15px;
}

#resetBtn {
    margin-left: 10px;
}

.createAccount {
    text-align: center;
}

/* End of styles for Login page */

/* Styles for Add Course page */

.courseAddNavBar {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-size: 0.75em;
}

.addCourseForm {
    width: 85%;
    margin-left: 40px;
    padding: 1em 2.5em 3em 2.5em;
    border-radius: 0px;
}

.addCourseForm input {
    margin-top: 10px;
    width: 80%;
}

.addTitleHeader {
    display: flex;
}

.titleError {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.85em;
    color: red;
    margin: auto;
}

#addCourseAuthor {
    width: 30%;
}

#addSummary {
    height: 5rem;
}

.courseImage {
    margin-top: 2.5em;
}

.courseImage label {
    font-size: 0.8rem;
    margin-right: 10px;
}

#addPrice {
    width: 15%;
}

.submission {
    float: right;
    margin: 10px 0;
}

#addBtn {
    margin-right: 20px;
    width: 7.5em;
}

#cancelBtn {
    width: 7.5em;
}

.toastBox {
    font-size: 0.7em;
}

/* End of styles for Add Course page */
